<!DOCTYPE html>
<html>
<head>
  <title>Password Reseted!</title>
</head>
<body>
  <p>Your password has been reseted new credentials:</p>
  <ul>
    <li><strong>Guardian Email:</strong> <%= email %></li>
    <li><strong>Guardian Password:</strong> <%= password %></li>
  </ul>
  <p>Please keep your credentials safe.</p>
</body>
</html>
