<!DOCTYPE html>
<html>
<head>
  <title>Welcome!</title>
</head>
<body>
  <h1>Welcome, <%= name %>,s! </h1>
  <p>We're excited to have you on board.</p>
  <p>Your login details:</p>
  <ul>
    <li><strong> Name:</strong> <%= name %></li>
    <li><strong>Email:</strong> <%= email %></li>
    <li><strong>Password:</strong> <%= password %></li>
   
  </ul>
  <p>Please keep your credentials safe.</p>
</body>
</html>
